@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* On utilise la couleur définie juste avant */
  background-color: theme('colors.discord.main'); 
  color: theme('colors.discord.text');
  /* Pour éviter les barres de défilement moches de Windows */
  overflow: hidden; 
}

/* Une scrollbar style Discord pour ta liste */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
    background-color: theme('colors.discord.darker');
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: theme('colors.discord.main');
    border-radius: 10px;
}